html {
    /* font-family: Verdana, aria, Tahoma, sans-serif; */
    font-family: Verdana, Helvetica, sans-serif;
}


h1 {
    font-size: 24px;
}

p {
    font-size: 18px;
}


.intro {
    background-color: aliceblue;
    padding: 10px;
    margin: 5px;
}

.wrapper {
    margin: 2%;
}

.video {
    display: flexbox;
    text-align: center;
    padding: 15px;
    max-width: fit-content;
    width: fit-content;
}

video {
    display: inline;
    width: 720pt;
    background-color: black;
}

.wrapper li {
    font-size: 18px;
}

/* .video {
    background-color: rgb(220, 220, 220);

} */

.navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;
}

/* Navbar links */
.navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
}

/* Navbar links on mouse-over */
.navbar a:hover {
    background-color: #000;
}

/* Current/active navbar link */
.active {
    background-color: #0f519c;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 720px) {
    .navbar a {
        float: none;
        display: block;
    }

    video {
        display: block;
        width: 320pt;
    }
}